
fastapi
uvicorn

python-dotenv


langchain==0.1.13
langchain-community==0.0.29
langchain-text-splitters==0.0.1
langchain-groq
langchian_core==0.0.29


sentence-transformers
chromadb


pypdf


pydantic
